* {
  box-sizing: border-box;
  font-family: 'Carrois Gothic SC', sans-serif;
}



body {
  height: 100%;
  width: 100%;
  background-color:black;
}

.overlay {
  font-size: 20px;
  a {
    color:#FFC500; 
    text-decoration: underline;
  }
}

.header {
  font-size: 80px;
  text-align: left;
  text-decoration: underline;
  margin: 20px 0px 0px 80px;
}
.founder {
  display: flex;
  margin: 20px 0px 0px 80px;
}

.memberSection {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  margin: 20px 20px 0px;
  padding: 30px;
  border: 5px ridge darkgray;
  border-radius: 5px;
  h2 {
    text-decoration: underline;
  }
  a {
    color: #FFC500;
    border: 5px ridge darkgray;
    padding: 10px;
    &:hover { 
      color: white;
    }
  }
  .member {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

.navbar {
  background-color: black;
  border-bottom: 2px ridge silver;

  a {
    font-size: 20px;
    color: silver;
  }
}

.title-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}
img {
  height: 200px;
  width: auto;
}

.input {
  margin-bottom: 10px;
  font-size: 40px;
  border: none;
  background-color: transparent;
  color:  #FFC500;
  font-family: 'Carrois Gothic SC', sans-serif;
}

div {
  color: #FFC500;
  text-align: center;
  

  h1{
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
}

.hide {
  display: none;
}

.HouseBody {
  background-color: black;
  height: 100vh;
  width: 100vw;
  align-items: space-evenly;
}

.HouseSection {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.HouseCard {
  background-color:transparent;
  padding: 20px;
  margin: 50px 20px;
  width: 35%;
  border: 4px ridge brown;
  border-radius: 20px;
  h5 {
    margin-bottom: 4px;
    color: silver;
  }
  h2 {
   &:hover { 
     text-decoration: underline;
   }
  }
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  .singleCharacter {
    border: 3px solid white;
    padding: 30px;
    width: auto;
  }
  p {
    font-size: 20px;
    padding: 5px;
  }
  h2 {
    font-size: 35px;
  }
} 

@media screen and (min-width: 100px) {
.navbar-menu {
    background-color: black;
 }
}

